.SocialIcons {
    width: 18vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media( max-width: 800px) {
    .SocialIcons {
        width: 30vw;
    }
}

@media( max-width: 410px) {
    .SocialIcons {
        width: 50vw;
    }
}
