.Movie {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-right: 5px;
}

.Title {
    min-height: 36px;
}

.Rating {
    min-height: 1.4em;
}

.Image {
    min-height: 280px;
    object-fit: contain;
}

@media (max-width: 640px) {
    .Movie {
        width: 150px;
    }
}
