.ExpandedMovie {
    display: flex;
}

.Info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Title {
    margin-bottom: 5px;
}

.Image {
    margin-right: 30px;
    width: 50%;
    object-fit: contain;
}

.Back {
    position: absolute;
    bottom: 16px;
    width: 30%;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.Synopsis {
    max-height: 30%;
    overflow: scroll;
}

@media (max-width: 1100px) {
    .Header {
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .ExpandedMovie {
        flex-direction: column;
        align-items: center;
        overflow: scroll;
        max-height: 100%;
    }

    .Synopsis {
        margin-bottom: 25px;
        max-height: unset;
    }

    .Back {
        position: static;
        width: 100%;
        justify-content: end;
    }

    .Image {
        margin-right: unset;
        width: 90%;
    }
}
